<nav>
   <ul>
       <li>
           <fa-icon id="all" [icon]="allicon"></fa-icon> All
       </li>
       <li>
           <fa-icon id="chicken" [icon]="Chickenicon"></fa-icon> chicken
       </li>
    <li>
        <img src="../../assets/meat.svg" alt="">
        Meat
    </li>
    <li>
        <fa-icon id="seafood" [icon]="seafoodicon"></fa-icon> Seafood
    </li>
    <li>
        <fa-icon id="pizaa" [icon]="pizzaicon"></fa-icon> pizza
    </li>
    <li>
        <fa-icon id="appetizers" [icon]="appetizersicon"></fa-icon> appetizers
    </li>
    <li>
        <fa-icon id="drinks" [icon]="drinkicon"></fa-icon>  Drinks
    </li>
   </ul>
</nav>
<section>
    <div>
        <h2>Grilled Beef Steaks <span>190 LE</span></h2>
    </div>
</section>