<nav>
   <ul>
       <li>
           <fa-icon id="all" [icon]="allicon"></fa-icon> All
       </li>
       <li>
           <fa-icon id="chicken" [icon]="Chickenicon"></fa-icon> chicken
       </li>
    <li>
        <img src="../../assets/meat.svg" alt="">
        Meat
    </li>
    <li>
        <fa-icon id="seafood" [icon]="seafoodicon"></fa-icon> Seafood
    </li>
    <li>
        <fa-icon id="pizaa" [icon]="pizzaicon"></fa-icon> pizza
    </li>
    <li>
        <fa-icon id="appetizers" [icon]="appetizersicon"></fa-icon> appetizers
    </li>
    <li>
        <fa-icon id="drinks" [icon]="drinkicon"></fa-icon>  Drinks
    </li>
   </ul>
</nav>
<section>
    <div>
        <h2>Grilled Beef Steaks <span>190 LE</span></h2>
        <img src="../../assets/grilled.jpg" alt="grilled beef steaks">
        <div class="order-bar">
            <h3>
                get in 20 Min 
            </h3>
            <button>
                <fa-icon [icon]="minusicon" > 
                </fa-icon>
            </button>
            <input type="text">
            <button>
                <fa-icon [icon]="plusicon" > 
                </fa-icon>
            </button>
            <button>
                <fa-icon [icon]="addComment" > 
                </fa-icon>
            </button>
            <button>
                <fa-icon [icon]="addtocart" > 
                </fa-icon>
            </button>
        </div>
    </div>
</section>